In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")
  
MSCIA133333 = pd.read_csv('./MSCIA133333.csv')
print('The shape of the dataset is:', MSCIA133333.shape)

The shape of the dataset is: (376, 2)

In [2]:
MSCIA133333.head(5)

         Time    Price
0  2021-01-04  4427.17
1  2021-01-05  4500.05
2  2021-01-06  4531.03
3  2021-01-07  4596.24
4  2021-01-08  4583.65

In [3]:
list_of_date = MSCIA133333['Time'].tolist()
MSCIA133333_Modified = MSCIA133333.drop(MSCIA133333.columns[0,],axis=1) 
MSCIA133333_Modified.head(5)

     Price
0  4427.17
1  4500.05
2  4531.03
3  4596.24
4  4583.65

In [4]:
MSCIA133333_table = pd.DataFrame(columns=["Total"], index = list_of_date)
row_length = range(MSCIA133333_Modified.shape[0]-1)

In [5]:
MSCIA133333_table.loc[list_of_date[0], "Total"] = 1
k = 1
for i in row_length:
    rate_day = ((float(MSCIA133333_Modified.iat[i+1,0])-float(MSCIA133333_Modified.iat[i,0]))/
                        float(MSCIA133333_Modified.iat[i,0])) + 1
    k = k*rate_day
    MSCIA133333_table.loc[list_of_date[i+1], "Total"] = k

In [6]:
MSCIA133333_table.head(5)

              Total
2021-01-04        1
2021-01-05  1.01646
2021-01-06  1.02346
2021-01-07  1.03819
2021-01-08  1.03535

In [7]:
MSCIA133333_table.to_csv('MSCIA133333_table.csv')